<h1>Gearloose Storage App</h1>
<br>
<section class="border3">
  <h2>Basic Info</h2>
  <p>This app is to add, update, delete and track your shop inventory.</p>
  <br>

  <h2>Warnings</h2>
  <section class="border2">
    <p>Please read this before useing this App</p>
    <p>When deleting publishers be aware that all games published by them will be deleted as well</p>
  </section>
  <br>
</section>
<br>
<h3>Copyright (c) 2018 Copyright Holder All Rights Reserved.</h3>
