<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gearloose Gaming Emporium</title>
  <h1>Gearloose Gaming Emporium</h1>
  <h3>If you need a game, we will find it</h3>
</head>
<body>
  <nav>
    <ul>
      <ls><a href="/games">Games Inventory</a></ls>
      <ls><a href="/publishers">Publishers List</a></ls>
      <ls><a href="/games/new">Add Game</a></ls>
      <ls><a href="/publishers/new">Add Publisher</a></ls>
    </ul>
    <hr>
  </nav>
  <section id="pages">
  <%= yield %>
  </section>
</body>
</html>
