<h2>Add New Gaming Stock</h2>
<section class="border">
<form class="" action="/games" method="post">
  <label for="name">Tilte:</label>
  <input type="text" name="name">

  <label for="publisher_id">Publisher:</label>
  <select name="publisher_id">
    <% for publisher in @publishers %>
      <option value="<%=publisher.id%>"><%=publisher.publisher %></option>
    <% end %>
  </select>

  <label for="genre">Genre:</label>
  <select name="genre">
    <% for genre in @genres %>
      <option value="<%=genre%>"><%= genre %></option>
    <% end %>
  </select>

  <label for="description">Description:</label>
  <input type="text" name="description">

  <label for="stock_quantity">Stock:</label>
  <input type="number" name="stock_quantity">

  <label for="buy_cost">Buy Cost:</label>
  <input type="number" name="buy_cost">

  <label for="selling_price">Selling Price:</label>
  <input type="number" name="selling_price">
  <br>
  <input class="button" type="submit" value="Add to Stock">
  <br>
</form>
</section>
