body{
  background-color: rgb(123, 167, 224);
  margin: 10px;
  padding: 1px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

head{
  background-color: rgb(0, 0, 0);
}
