<h1>Edit Publishers</h1>

<form class="" action="/publishers/<%= @publisher.id %>" method="post">
  <label for="publisher">Publisher:</label>
  <input type="text" name="publisher" value="<%= @pub%>" >

  <input type="submit" value="Update Publisher">
</form>
