<h1>Add New Publisher</h1>
<br>
<section class="border">
<form class="" action="/publishers" method="post">
  <label for="publisher">Publisher:</label>
  <input type="text" name="publisher">
  <br>
  <input class="button" type="submit" value="Add Publisher">
  <br>
</form>
</section>
